<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level [%40.40logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="L_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/federator.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <fileNamePattern>federator.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date %-5level [%40.40logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="L_FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
