h1 {
    font-family: Calibri;
    font-weight: bold;
    color: #0068AC;
    font-size: 290%;
}

.btn {
   border-radius: 0px;
   background-color: #0068AC;
   color: white
}

.nav {
   text-align: center;
   font-size: larger;
   font-weight: bold;
}

.custom80 {
  width: 80px !important;
  margin-left: 10px;
  text-color: white;
}

input[type="checkbox"] {
  margin-left: 10px
}

.highlighted {
  background: yellow;
}

.box {
  display: none;
  width: 100%;
}

a:hover + .box,.box:hover {
  display: block;
  position: relative;
  z-index: 100;
}

a.result {
  font-size: larger;
}

#textbox {
   height:35px;
}

#searchbar {
 text-align: center;
}

#optionsbar {
 text-align: center;
}

p {
    font-weight: normal;
}